*spatial_anomaly.nc4
/Committee_Meeting_Figs/
/data/*
/old/
/basic_run_example/
/emulator_training/
/checkpoints/
/Figures/
/.ipynb_checkpoints/
/__pycache__/

# Exceptions
!/data/CS3_outlook25/
!/data/FaIR/
!/data/FaIR_IO/
!/data/GeoMIP/
!/data/saved_emissions/
